<!DOCTYPE html>
<html>

<head>
    {{>title}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website uses mapbox and darksy to fetch weather forecast</p>
        <img class="about-image" src="/img/buckethead_sigil.jpg">
    </div>
    {{>footer}}
</body>

</html>